/* ini file css */

body {
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    border: 2px solid black;
    max-width: 760px;
    justify-self: center;
}

main {
    background-color: rgb(69, 210, 210);
    max-width: 750px;
    justify-self: center;
    align-items: center;
}

header {
    text-align: center;
}

section {
    padding: 8px;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.style-form {
    border: 1px solid black;
    height: 50px;
    width: 100%;
}

.button-group {
    margin-top: 8px;
    margin-bottom: 8px;

}

button {
    border: none;
    padding: 8px;
    border-radius: 4px;
}

#button-konversi {
    background-color: #06740f;
    color: #ffffff;
}

#button-reset {
    background-color: #ea4141;
    color: #ffffff;
}

#button-reverse {
    background-color: #424d43;
    color: #ffffff;
}


/* ini style buat 9/5 pada <p> penjelasan rumus konversi */
span.frac {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-family: math;
}
span.frac > sup, span.frac > sub {
    display: block;
    font: inherit;
    padding: 0 0.3em;
}
span.frac > sup {border-bottom: 0.08em solid;}
span.frac > span {display:none ;}

/* ini style untuk S yang mewakili Suhu */
.remark {
    font-family: math;
    font-size: larger;
    padding: 0 0.3em 0 0.1em;
    font-style: italic;
}

footer {
    text-align: center;
    padding: 16px;
    background-color:rgb(76, 228, 228);
}